<div id='container'>
  <%= link_to_unless_current "English", locale: "en"%>
  <%= link_to_unless_current "Svenska", locale: "sv"%>
</div>

<h1><%= t('header.main')%></h1>

<button><%= t('press.submit')%></button>
<div>
  <h5><%= t('info.description')%></h5>
</div>
